<%
  cards = local_assigns[:cards] || []
%>

<div class="mx-auto max-w-7xl px-8 md:px-none">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 gap-y-16 md:gap-y-20">
      <% cards.each do |card| %>
        <div class="relative">
          <% if card[:icon] %>
            <div class="absolute -top-10 left-6 w-20 h-20 rounded-xl flex items-center justify-center border-2 border-black bg-<%= card[:icon_bg] %> shadow-[4px_4px_0_0_#000]">
              <% if card[:icon].is_a?(String) && card[:icon].include?('<svg') %>
                <%== card[:icon] %>
              <% elsif card[:icon].is_a?(String) %>
                <%= image_tag card[:icon], alt: "#{card[:title]} icon", class: "w-12 h-12" %>
              <% else %>
                <%= card[:icon] %>
              <% end %>
            </div>
          <% end %>
          <div class="bg-white text-black rounded-2xl p-8 pt-14 h-full">
            <% if card[:title] %>
              <h3 class="text-2xl font-bold mb-4"><%= card[:title] %></h3>
            <% end %>
            <% if card[:description] %>
              <p class="text-lg"><%= card[:description] %></p>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>


