<%= header_section(@subject) %>
<div>
  <p>Hey there!</p>

  <p>Great news - <%= @seller_name %> just sold a copy of <%= @product_name %> to <%= @customer_email %> thanks to your referral.</p>

  <p>Here's the breakdown:</p>
  <ul>
    <li>💰 Purchase amount: <%= @purchase_price_formatted %></li>
    <li>💼 Your commission rate: <%= @affiliate_percentage_text %></li>
    <li>🧾 Your earnings (after fees): <%= @affiliate_amount_formatted %></li>
  </ul>

  <% if @purchase.is_free_trial_purchase? %>
    <p>If the subscriber continues with their subscription after their free trial has expired on <%= @free_trial_end_date %>, we'll add your commission to your balance. <%= @recurring_commission_text %></p>
  <% else %>
    <p>We've added your commission to your balance. <%= @recurring_commission_text %></p>
  <% end %>

  <p>Thanks for being part of the team and helping make another sale happen!</p>
</div>
